.cover-loading {
  width: 100%;
  margin-bottom: 20px;

  /* 책 표지 비율 */
  aspect-ratio: 2 / 3;

  border: 2px dashed #d9d0c5;
  border-radius: 20px;

  background: #f8f5ef;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  overflow: hidden;
}

.lottie-book {
  width: 180px;
  height: 180px;
}

.cover-loading p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #2f5d50;
}

.cover-loading span {
  margin-top: 8px;
  font-size: 14px;
  color: #7b7267;
}
